<html ng-app="nameApp">
  <head>
    <meta charset="utf-8">
    <title>Angular.js Example</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script>
      var nameApp = angular.module('nameApp', []);
      nameApp.controller('NameCtrl', function ($scope){
        $scope.square = {
          inner_side_length: 0,
          outer_side_length: 0,
          height: 0
        };
        $scope.calculate_square1 = function() {
            $scope.square.area = ($scope.square.outer_side_length * $scope.square.outer_side_length - $scope.square.inner_side_length * $scope.square.inner_side_length);
            $scope.square.bulk = $scope.square.area * $scope.square.height;
        };

        $scope.circle = {
          inner_diameter: 0,
          outer_diameter: 0,
          height: 0
        };
        $scope.calculate_circle1 = function() {
            $scope.circle.area = ($scope.circle.outer_diameter * $scope.circle.outer_diameter - $scope.circle.inner_diameter * $scope.circle.inner_diameter) * 3.14 / 4;
            $scope.circle.bulk = $scope.circle.area * $scope.circle.height;
        };

        $scope.circle2 = {
          upper_inner_diameter: 0,
          upper_outer_diameter: 0,
          lower_inner_diameter: 0,
          lower_outer_diameter: 0,
          inner_height: 0,
          outer_height: 0
        };
        $scope.calculate_circle2 = function() {
            $scope.circle2.inner_bulk = ($scope.circle2.upper_inner_diameter * $scope.circle2.upper_inner_diameter + $scope.circle2.lower_inner_diameter * $scope.circle2.lower_inner_diameter + $scope.circle2.lower_inner_diameter * $scope.circle2.upper_inner_diameter) * $scope.circle2.inner_height * 3.14 / 12;

            $scope.circle2.outer_bulk = ($scope.circle2.upper_outer_diameter * $scope.circle2.upper_outer_diameter + $scope.circle2.lower_outer_diameter * $scope.circle2.lower_outer_diameter + $scope.circle2.lower_outer_diameter * $scope.circle2.upper_outer_diameter) * $scope.circle2.outer_height * 3.14 / 12;

            $scope.circle2.bulk = $scope.circle2.outer_bulk - $scope.circle2.inner_bulk;

        };

        $scope.circle3 = {
          a_d: 0,
          a_x1: 0,
          a_x2: 0,
          b: 0,
          r: 0,
          another_r: 0,
          k_d_prime: 0,
          k_x_prime: 0,
          r_d: 0,
          r_x: 0
        };

        $scope.check_circle3 = function() {
          $scope.circle3.k_d_prime = 2 * 3.14 * $scope.circle3.b / ($scope.circle3.a_d - $scope.circle3.a_x1);
          $scope.circle3.k_x_prime = 2 * 3.14 * $scope.circle3.b / ($scope.circle3.a_d - $scope.circle3.a_x2);

          $scope.circle3.r_d = $scope.circle3.b * $scope.circle3.a_d / ($scope.circle3.a_d - $scope.circle3.a_x1);
          $scope.circle3.r_x = $scope.circle3.b * $scope.circle3.a_d / ($scope.circle3.a_d - $scope.circle3.a_x2);

          $scope.circle3.k_d = 0;
          $scope.circle3.k_x = 0;

          if ($scope.circle3.r_x < $scope.circle3.r && $scope.circle3.r < $scope.circle3.r_d) {
            $scope.circle3.k_d = ($scope.circle3.r - $scope.circle3.r_x) / ($scope.circle3.r_d - $scope.circle3.r_x) * $scope.circle3.k_d_prime;
            $scope.circle3.k_x = ($scope.circle3.r_d - $scope.circle3.r) / ($scope.circle3.r_d - $scope.circle3.r_x) * $scope.circle3.k_x_prime;
            $scope.circle3.output = $scope.circle3.k_d / $scope.circle3.k_x;
            $scope.circle3.output_text = 'input another r';
          } else {
            $scope.circle3.output = 0;
            $scope.circle3.output_text = 'input all values';
          }
        };

        $scope.check_circle3_2 = function() {
          $scope.circle3.k_d_2 = ($scope.circle3.another_r - $scope.circle3.r_x) / ($scope.circle3.r_d - $scope.circle3.r_x) * $scope.circle3.k_d_prime;
          $scope.circle3.k_x_2 = ($scope.circle3.r_d - $scope.circle3.another_r) / ($scope.circle3.r_d - $scope.circle3.r_x) * $scope.circle3.k_x_prime;
          $scope.circle3.output_2 = $scope.circle3.k_d_2 / $scope.circle3.k_x_2;
          $scope.circle3.output_text_2 = 'input another r';
        }

      });
    </script>
  </head>
  <body ng-controller="NameCtrl">
    <h1>Calculator</h1>
    <div>
      <h2>Square</h2>
      <div>
        Input outer_side_length:<input ng-model="square.inner_side_length" type="text"/>
        Input outer_side_length:<input ng-model="square.outer_side_length" type="text"/>
        Input height:<input ng-model="square.height" type="text"/>
        <button ng-click="calculate_square1()">Calculate_square1</button>
        <br>
        inner_side_length = {{square.inner_side_length}}.
        outer_side_length = {{square.outer_side_length}}.
        Height = {{square.height}}.
        <br>
        Bulk = {{square.bulk}}.
      </div>
      <hr>

      <h2>Circle</h2>
      <div>
        Input inner_diamater:<input ng-model="circle.inner_diameter" type="text"/>
        Input outer_diamater:<input ng-model="circle.outer_diameter" type="text"/>
        Input height:<input ng-model="circle.height" type="text"/>
        <button ng-click="calculate_circle1()">Calculate_circle1</button>
        <br>
        inner_diameter = {{circle.inner_diameter}}.
        outer_diameter = {{circle.outer_diameter}}.
        Height = {{circle.height}}.
        <br>
        Bulk = {{circle.bulk}}.
      </div>
      <hr>

      <h2>Truncated_Cone</h2>
      <div>
        Input upper_inner_diameter:<input ng-model="circle2.upper_inner_diameter" type="text"/>
        Input lower_inner_diameter:<input ng-model="circle2.lower_inner_diameter" type="text"/>
        Input inner_height:<input ng-model="circle2.inner_height" type="text"/>
        <br>
        Input upper_outer_diamater:<input ng-model="circle2.upper_outer_diameter" type="text"/>
        Input lower_outer_diamater:<input ng-model="circle2.lower_outer_diameter" type="text"/>
        Input outer_height:<input ng-model="circle2.outer_height" type="text"/>
        <button ng-click="calculate_circle2()">Calculate_circle2</button>
        <br>
        upper_inner_diameter = {{circle2.upper_inner_diameter}}.
        upper_outer_diameter = {{circle2.upper_outer_diameter}}.
        lower_inner_diameter = {{circle2.lower_inner_diameter}}.
        lower_outer_diameter = {{circle2.lower_outer_diameter}}.
        inner_height = {{circle2.inner_height}}.
        outer_height = {{circle2.outer_height}}.
        <br>
        inner_bulk = {{circle2.inner_bulk}}.
        outer_bulk = {{circle2.outer_bulk}}.
        Bulk = {{circle2.bulk}}.
      </div>
      <hr>

      <h2>Check_Circle</h2>
      <div>
        Input a_d:<input ng-model="circle3.a_d" type="text"/>
        Input a_x1:<input ng-model="circle3.a_x1" type="text"/>
        Input a_x2:<input ng-model="circle3.a_x2" type="text"/>
        <br>
        Input b:<input ng-model="circle3.b" type="text"/>
        Input r:<input ng-model="circle3.r" type="text"/>
        <button ng-click="check_circle3()">Check_circle3</button>
        <br>
        k_d_prime = {{circle3.k_d_prime}}.
        k_x_prime = {{circle3.k_x_prime}}.
        r_d = {{circle3.r_d}}.
        r_x = {{circle3.r_x}}.
        <br>
        k_d = {{circle3.k_d}}.
        k_x = {{circle3.k_x}}.
<!--         output = {{circle3.output}}.
 -->        output_text = {{circle3.output_text}}.
        <br>
        <br>
        Input another_r:<input ng-model="circle3.another_r" type="text"/>
        <button ng-click="check_circle3_2()">Check_circle3_2</button>
        <br>
        k_d = {{circle3.k_d_2}}.
        k_x = {{circle3.k_x_2}}.
<!--         output = {{circle3.output_2}}.
 -->        output_text = {{circle3.output_text_2}}.
      </div>

    </div>
  </body>
</html>



